<script>
    import { audioCompareList } from "../db"
</script>


<h1>Admin </h1>

<div class="voicebattle">
    {#each $audioCompareList as entry }
        <div>{entry[0]}</div><div></div>
        {#each entry[1] as userSound}
            <div class="contender">
                <audio src="{userSound[1]}" controls>Your browser does not support the audio element.</audio>
                <button>Vote</button>
            </div>
        {/each}
    {/each}
</div>