<script>
    import { createEventDispatcher, onDestroy, onMount } from "svelte";

	const dispatch = createEventDispatcher();

    export let countdown = 20
    let timer = null;

    onMount(() => {
		timer = setInterval(() => {
			countdown -= 1;
	  }, 1000);
	})

	onDestroy(() => {
		if (timer) {
			clearInterval(timer);
		}
	})

	$: {
		if (countdown === 0) {
			clearInterval(timer);
			timer = null;
			dispatch('completed');
		}
	}
</script>

<div class="centered red">
{countdown}
</div>


