<script>
	import { get } from 'svelte/store';
    import {
        battleCounter,
        winCounter,
        loseCounter,
        awaitingBattle,
        opponent,
        ongoingBattle,
        recording,
        lastMoves,
        soundReplicationSubject,
        userId } from "../db"
    import Countdown from "./Countdown.svelte";

    let showResults = false;

    function checkGameResult() {
        const [player, enemy] = get(lastMoves)
        console.log(get(lastMoves))
        if (player == enemy) {
            return 'draw'
        }
        if ((player == 'Steen' && enemy == 'Schaar')
            || (player == 'Papier' && enemy == 'Steen')
            || (player == 'Schaar' && enemy == 'Papier')) {
            return 'win'
        }
        return 'lose'
    }

</script>

<h1>Team #{$userId}</h1>
{#if !$awaitingBattle && !$opponent && !$ongoingBattle}
    <div class="centered">
        <div class="captionwrapper">
            <div class="captionleft">Games played:</div>
            <div class="captionright">{$battleCounter}</div>
        </div>
        <div class="captionwrapper">
            <div class="captionleft">Games won:</div>
            <div class="captionright">{$winCounter}</div>
        </div>
        <div class="captionwrapper">
            <div class="captionleft">Games lost:</div>
            <div class="captionright">{$loseCounter}</div>
        </div>
    </div>
{:else}
    {#if $awaitingBattle && $opponent}
        <h2>Requested battle with #{$opponent}</h2>
        <p>They have <strong><Countdown countdown={20} /></strong> seconds to respond</p>
    {:else if $ongoingBattle && $opponent}
        {#if !showResults}
            <p>Battle started!</p>
            <h1><Countdown countdown={3} on:completed={() => {
                showResults = true
                setTimeout(() => {
                    ongoingBattle.set(false)
                }, 7500)
            }} /></h1>
        {:else}
            <p>It's a {checkGameResult()}!</p>
            {#if $soundReplicationSubject && $recording}
                <p>Mimic the sound of {$soundReplicationSubject}.</p>
            {/if}
        {/if}
    {/if}

{/if}

