<script>
    import { register } from "../db";

    let message = undefined;
    let nfc_timeout = false;

    let ndef = undefined
    if ('NDEFReader' in window) {
        // @ts-ignore
        ndef = new NDEFReader();
    }

    // setTimeout(() => {
    //     register(150)
    // }, 2000)

    // setTimeout(() => {
    //     register(7)
    // }, 3000)

    async function startScanning() {
        await ndef.scan();

            // @ts-ignore
        document.querySelector("#scanButton").style.display = "none";

        // @ts-ignore
        ndef.onreading = async ({ message, serialNumber }) => {
            const record = message.records[0];
            const textDecoder = new TextDecoder(record.encoding);
            const decodedData = textDecoder.decode(record.data);

            const [header, identifier] = decodedData.split(":")
            if (header == 'SD42' && !nfc_timeout) {
                await register(parseInt(identifier))
                nfc_timeout = true;
                setTimeout(() => {
                    nfc_timeout = false
                }, 3000)
            } else {
                message = "Can't scan tag right now, try again later."
            }
        };

        ndef.onreadingerror = () => {
            message = "Cannot read data from the NFC tag. Try another one?"
        };
    }


    (async () => {
        try {
            // @ts-ignore
            const nfcPermissionStatus = await navigator.permissions.query({ name: "nfc" });
            if (nfcPermissionStatus.state === "granted") {

                // NFC access was previously granted, so we can start NFC scanning now.
                startScanning();
            } else {

                if (!('NDEFReader' in window)) {
                    return
                }
                // Show a "scan" button.
                // @ts-ignore
                document.querySelector("#scanButton").style.display = "inline-block";
                // @ts-ignore
                document.querySelector("#scanButton").onclick = event => {
                // Prompt user to allow UA to send and receive info when they tap NFC devices.
                startScanning();
                };
            }
        }
        catch (error) {
            console.log("ERROR: " + error)
        }
    })()

</script>

{#if !('NDEFReader' in window)}
    <strong>NFC reading is not available on your device!</strong>
{/if}

<button id="scanButton">Request permission</button>

{#if message != undefined}
    <p>{message}</p>
{/if}

<style>
    #scanButton {
        display: none;
    }
</style>