<script>
    import { databaseError } from './db';

	import Main from './lib/Main.svelte';
	import NFC from './lib/NFC.svelte';
	import Admin from './lib/Admin.svelte';

    import { userId } from "./db";

    let admin = false;

    function toggleAdmin() {
        var audio = new Audio('dolphin.wav');
        audio.play();
        admin = !admin;
    }

</script>

<main>
    <div class="header">
        <h1>Project Dolphin</h1>
        <button id="adminButton" on:click={toggleAdmin}>A</button>
    </div>

    <div class="centered">
        {#if admin === true}
            <Admin />
        {:else}
            <NFC />
            {#if $userId}
                <Main />
            {/if}
            {#if $databaseError}
                Error: {$databaseError}
            {/if}
       {/if}
    </div>
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

    <div class="footer">
        <h3><strong>Team-15™</strong> Productions</h3>
      </div>

</main>
